<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.code.testsys.mapper.AdminMapper">

    <resultMap id="queMapper" type="cn.code.testsys.domain.Question">
        <id column="id" property="id"/>
        <result column="problem" property="problem"/>
        <result column="score" property="score"/>
        <result column="type" property="type"/>
        <result column="degree" property="degree"/>
        <collection property="course" ofType="cn.code.testsys.domain.Course">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="startDate" property="startDate"/>
            <result column="count" property="count"/>
        </collection>
        <collection property="answer" ofType="cn.code.testsys.domain.Answer">
            <id column="id" property="id"/>
            <result column="answer" property="answer"/>
            <result column="isTrue" property="isTrue"/>
        </collection>

    </resultMap>

    <select id="selectCour" resultType="cn.code.testsys.domain.Course">
        select * from course
    </select>

    <select id="selectQues" resultMap="queMapper">
        select ques.*,course.*,answer.* from (course inner join ques
            on ques.courID=course.id )
            left join answer on ques.id=answer.queID
    </select>

    <select id="selectByQueId" resultMap="queMapper">
        select ques.*,course.*,answer.* from (course inner join ques
        on ques.courID=course.id and ques.id in
        <foreach collection="array" item="queId" index="index"
                 open="(" close=")" separator=",">
            #{queId}
        </foreach>
        )
        left join answer on ques.id=answer.queID
    </select>

    <select id="searchByName" resultType="cn.code.testsys.domain.Course">
        select * from course where name like '%#{name}%'
    </select>

    <select id="getAllTeach" resultType="cn.code.testsys.domain.User">
        select * from user where who=1
    </select>

    <select id="getAllStu" resultType="cn.code.testsys.domain.User">
        select * from user where who=2
    </select>

</mapper>