<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.code.testsys.mapper.TeacherPaperMapper">

    <resultMap id="outTestPaper" type="cn.code.testsys.domain.outDTO.OutPaper">
        <id column="paperID" property="paperID"/>
        <result column="status" property="status"/>
        <collection property="outQuestions" ofType="cn.code.testsys.domain.outDTO.outQuestion">
            <id column="id" property="queID"/>
            <result column="problem" property="problem"/>
            <result column="score" property="score"/>
            <result column="type" property="type"/>
            <result column="courName" property="courName"/>
            <result column="degree" property="degree"/>
            <result column="answer" property="answer"/>
        </collection>
    </resultMap>

    <select id="paperList" resultMap="outTestPaper" parameterType="long">
        select paperID,`status`,ques.*,course.`name` "courName",answer.answer from
            (ques inner join paper_ques on paper_ques.queID=ques.id
                and paper_ques.paperID in

                <foreach collection="list" item="paperID" index="idex"
                         open="(" close=")" separator=",">
                    #{paperID}
                </foreach>

                )
                left JOIN answer on answer.queID=ques.id and answer.isTrue=1
                left join course on ques.courID=course.id
                left join testpaper on testpaper.id=paper_ques.paperID
    </select>
</mapper>